<h1>Contact Information</h1>
<br>

<h3>First Name: <%= @current_contact.first_name %></h3>
<h3>Last Name: <%= @current_contact.last_name %></h3>
<h3>Company Name: <%= @current_contact.company %></h3>
<h3>Job Title: <%= @current_contact.job_title %></h3>
