<form class="" action="/new_contact" method="post">
  <label for="first_name">Enter First Name</label>
  <input type="text" name="first_name" id="first_name">
  <label for="last_name">Enter Last Name</label>
  <input type="text" name="last_name" id="last_name">
  <label for="company">Enter Company</label>
  <input type="text" name="company" id="company">
  <label for="job_title">Enter Job Title</label>
  <input type="text" name="job_title" id="job_title">
  <button type="submit" name="button">Add contact</button>
</form>
