<h1>Add a new address</h1>

<form class="" action="/create_email/<%= @current_contact.id() %>" method="post">
  <label for="email">Email</label>
  <input type="text" name="email" id="email">

  <button type="submit" name="button">Add Email</button>
</form>
